rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow public read access to the factChecks collection
    match /factChecks/{document} {
      allow read: if true;
      allow write: if false;
    }
    
    // Allow public read access to the stock_data collection
    match /stock_data/{document} {
      allow read: if true;
      allow write: if false;
    }
    
    // Allow public read access to the references collection
    match /references/{document} {
      allow read: if true;
      allow write: if false;
    }
  }
}
